#main-page {
    background-color: #103074;
    text-align: center;

    header {
        h1 {
           color: #ffffff; 
           font-family: 'Courier New', Courier, monospace;
           font-size: 39px;
           margin-top: 25px;
           margin-bottom: 5px;
        }

        #social-icons {
            .social-icon {
                width: 30px;
                height: 30px;
                image-rendering: pixelated;
                margin: 3px;
                margin-top: 5px;
                opacity: 0.4;
                filter: blur(2px);
            }
            
            .social-icon:hover {
                filter: blur(0px);
            }
        }
    }

    nav {
        /* padding: 10px;
        position: fixed;
        top: 0;
        width: 100%; */

        p {
            color: #ffffff;
            font-family: "Courier New", 'Courier New', Courier, monospace;
    
        }
          
        a {
            color: #ce99ff;
            font-family: monospace;
        }
    }

    

    main {
        #grid-container {
            display: grid;
            grid-template-columns: repeat(200, 5px);
            grid-template-rows: repeat(100, 5px);
            padding: 10px;
            justify-content: center;
            align-items: center;
        }

        .grid-item {
            width: 5px;
            height: 5px;
            background-color: #103074;
            transition: background-color 400ms ease-in;
        }
    }
}