html {
    scroll-behavior: smooth;
  }
  
#main-page {
    background-color: #103074;
    text-align: center;

    header {
        #name {
            width: 25%;
            height: 25%;
            margin-top: 25px;
            margin-bottom: 12px;
            padding: 7px;
        }

        #social-icons {
            .social-icon {
                width: 30px;
                height: 30px;
                margin: 3px;
                padding: 3px;
                transition: filter 350ms ease-in-out;
                filter: blur(2px);
                opacity: 0.5;
            }
            
            .social-icon:hover {
                filter: blur(0px);
            }
        }
    }

    nav {
        /* padding: 10px;
        position: fixed;
        top: 0;
        width: 100%; */

        p {
            color: #ffffff;
            font-family: "Courier New", 'Courier New', Courier, monospace;
    
        }
          
        a {
            color: #ce99ff;
            font-family: monospace;
        }
    }

    

    main {
        #grid-container {
            display: grid;
            grid-template-columns: repeat(100, 10px);
            grid-template-rows: repeat(50, 10px);
            padding: 10px;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        .grid-item {
            width: 10px;
            height: 10px;
            background-color: #103074;
        }

        #scroll-button {
            display: inline-block;
            padding: 20px 410px;
            letter-spacing: 4px;
            border: 3px dashed #aaaaaa;
            cursor: pointer;
            transition: background-color 300ms ease-in-out;

            img {
                max-height: 25px;
            }
        }

        #scroll-button:hover {
            cursor: pointer;
            background-color: #102769;
        }

        .body-h1 {
            color: #aaaaaa;
            margin: 20px;
            font-family: "Courier New", 'Courier New', Courier, monospace;
        }

        .body-text {
            color: #8080c0;
            font-size: large;
            line-height: 25px;
            font-family: "Courier New", 'Courier New', Courier, monospace;
            margin-bottom: 40px;
            margin-left: 80px;
            margin-right: 80px;
        }
    }

    footer {
        #scroll-button {
            display: inline-block;
            padding: 20px 410px;
            letter-spacing: 4px;
            border: 3px dashed #aaaaaa;
            cursor: pointer;
            transition: background-color 300ms ease-in-out;

            img {
                max-height: 25px;
            }
        }

        #scroll-button:hover {
            cursor: pointer;
            background-color: #102769;
        }
    }
}